/* Variables */

:root {
  --black: #000000;
  --deep-blue: #293449;
  --dark-green: #518534;

  --basic-red: #EE3643;
  --basic-green: #63a63e;
  --basic-blue: #32425c;
  --basic-yellowlight: #f7f3ec;
  --basic-graylight: #c5c5c5;
  --basic-bg: #F3F7F9;
  --white: #ffffff;

  --special-deepblue: #161D29;
  --special-yellow: #ffbf47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-green: #367315;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-light: #eaeaea;
  --special-graylight: #e5e5e5;
  --special-red: #FF5357;
  --special-transparent: rgba(0, 0, 0, 0.3);

  --transparent-bg: rgba(255, 255, 255, 0.3);
  --transparent-graylight: rgba(197, 197, 197, 0.3);
  --transparent-gray: rgba(169, 169, 169, 0.3);

  --del: #A9A9A9;
  --click: rgba(255, 255, 255, 0.5);
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;

  --situational-gray: gray;

  --logo-shadow: #b52933;
  --logo-shadow-active: #8D1E26;
}

/* Fonts */

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Сuprum Regular"),
       local("Сuprum-Regular"),
       url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Cuprum Bold"),
       local("Cuprum-Bold"),
       url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: local("Cuprum Italic"),
       local("Cuprum-Italic"),
       url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: local("Cuprum Bold Italic"),
       local("Cuprum-BoldItalic"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("PT Sans Regular"),
       local("PTSans-Regular"),
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("PT Sans Bold"),
       local("PTSans-Bold"),
       url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
}

/* Global tags */

body {
  min-width: 960px;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;

  color: var(--black);
  background-color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input[name="slider-controls"],
input[name="service-tabs"],
.catalog-filter__checkbox,
.catalog-filter__radio {
  display: none;
}

.catalog-filter__number,
.header-search__form {
  border: none;
}

/* Global mixes */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--basic-blue);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;

  text-decoration: none;

  color: var(--white);
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.button:hover,
.button:focus {
  background-color: var(--special-red);
}

.button:active {
  background-color: var(--error);
}

.pop-up {
  display: none;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-height: 100%;
}

/* Header top */

.header {
  background-color: var(--basic-bg);
}

.header .header__top {
  margin-bottom: 45px;
}

.header__top {
  min-height: 42px;

  color: var(--white);
  background-color: var(--deep-blue);
}

.header__top .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 940px;
}

.header-logo {
  position: relative;

  display: block;
  min-width: 220px;
  min-height: 42px;
  padding: 11px 56px 7px 56px;

  background-color: var(--basic-red);
  box-shadow: 0 5px 0 var(--logo-shadow);
}

.header-logo:active {
  background-color: var(--error);
  box-shadow: 0 5px 0 var(--logo-shadow-active);
}

.header-logo__img {
  min-width: 108px;
  min-height: 18px;
}

/*header-search*/

.header__top .header-search {
  position: relative;

  min-width: 270px;
  max-height: 42px;
  margin-right: auto;
}

.header-search .header-search__label::before {
  position: absolute;
  top: 11px;
  left: 18px;
}

.header-search__label::before {
  content: '';

  width: 17px;
  height: 17px;

  opacity: 0.5;
  filter: brightness(0%) invert(1);
  background-image: url('../img/icon-search.svg');
}

.header-search__form:hover ~ .header-search__label::before {
  opacity: 1;
}

.header-search__form:focus ~ .header-search__label::before {
  opacity: 1;
  filter: none;
}

.header-search__form {
  width: 100%;
  padding: 11px 15px 11px 45px;

  color: var(--white);
  background-color: transparent;
}

.header-search__form::placeholder {
  color: var(--white);
}

.header-search__form:focus {
  color: var(--black);
  background-color: var(--white)
}

.header-users {
  display: flex;
  flex-wrap: wrap;
}

.header-users__link {
  position: relative;

  text-align: center;

  min-width: 137px;
  padding: 9px 10px 10px 30px;
}

.header-users__link::before {
  position: absolute;
  top: 12px;
  left: 13px;

  opacity: 0.5;
}

.header-users__link:hover.header-users__link::before,
.header-users__link:focus.header-users__link::before {
  opacity: 1;
}

.header-users__link:first-child::before {
  content: "";

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
}

.header-users__link:nth-child(2)::before {
  content: "";

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
}

.header-users__link:active {
  opacity: 0.5;
  background-color: var(--special-deepblue);
}

.header-users__checkout {
  min-width: 154px;
  padding: 9px 10px 10px 10px;

  text-align: center;

  background-color: var(--basic-green);
}

.header-users__checkout:hover,
.header-users__checkout:focus {
  background-color: var(--success);
}

.header-users__checkout:active {
  color: var(--click);
  background-color: var(--basic-green);
}

.header-users__link--contain {
  background-color: var(--basic-red);
}

/* Header middle */

.header .header__middle {
  margin-bottom: 45px;
}

.header__middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__text {
  max-width: 197px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  color: var(--basic-red);
}

.header__middle .header__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25px;
}

.header-contacts {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  max-width: 276px;
}

.header-contacts__tel {
  padding: 7px 45px 8px 74px;

  font-size: 21px;
  font-weight: bold;
  line-height: 30px;

  border: 3px solid var(--white);
  color: var(--basic-red);
}

.header-contacts .header-contacts__tel::before {
  position: absolute;
  top: 15px;
  left: 43px;
}

.header-contacts__tel::before {
  content: "";

  width: 18px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
}

.header-contacts .header-contacts__address {
  margin: 0;
}

.header-contacts__address {
  font-size: 14px;
  text-align: center;

  color: var(--basic-blue);
}

.header-account {
  display: flex;
  flex-wrap: wrap;

  max-width: 304px;
}

.header-account .header-account__item {
  position: relative;

  margin-bottom: 10px;
}

.header-account .header-account__item:nth-child(odd) {
  margin-right: 10px;
}

.header-account__link {
  padding: 12px 27px 12px 27px;

  font-size: 21px;
  font-weight: 500;
  line-height: 21px;

  color: var(--black);
  background-color: var(--white);
}

.header-account__item:first-child .header-account__link {
  padding-left: 45px;
}

.header-account__item:first-child .header-account__link::before {
  content: "";

  width: 19px;
  height: 17px;

  opacity: 0.3;
  filter: brightness(0%);
  background-image: url("../img/icon-login.svg");
}

.header-account__item .header-account__link::before {
  position: absolute;
  top: 13px;
  left: 19px;
}

.header-account__link:hover.header-account__link::before,
.header-account__link:focus.header-account__link::before {
  opacity: 1;
  filter: none;
}

.header-account__link:active.header-account__link::before {
  opacity: 0.3;
  filter: brightness(0%);
}

.header-account__link:hover,
.header-account__link:focus {
  color: var(--basic-red);
}

.header-account__link:active {
  color: var(--basic-graylight);
}

.header-cabinet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 304px;
}

.header-cabinet .header-cabinet__text {
  margin: 0 0 7px 0;
}

.header-cabinet__text {
  min-width: 100%;
  padding: 12px 57px;

  font-size: 21px;
  line-height: 21px;

  background-color: var(--white);
}

.header-cabinet__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-width: 210px;
}

.header-cabinet__link {
  font-size: 16px;
  line-height: 18px;

  color: var(--basic-blue);
}

.header-cabinet__link:hover,
.header-cabinet__link:focus {
  color: var(--basic-red);
}

.header-cabinet__link:active {
  color: var(--basic-graylight);
}

/* Header bottom */

.header .header__bottom {
  margin-bottom: 60px;
}

.header__bottom {
  background-color: var(--basic-blue);
  box-shadow: inset 0 -5px 0 var(--deep-blue);
}

.header__nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-nav__link {
  padding: 16px 24px 20px 27px;
}

.header-nav__link:hover,
.header-nav__link:focus {
  background-color: var(--deep-blue);
}

.header-nav__link:active {
  color: var(--click);
}

/* Main */

.index {
  display: grid;
  gap: 60px;
  grid-template-rows: min-content min-content min-content min-content min-content;

  padding-top: 60px;
}

/* Main index__offer */

.index-offer__list {
  grid-template-columns: 300px 300px 300px;
  grid-template-areas:
    "materials tools technique"
    "slider slider sale"
    "slider slider delivery";

  display: grid;
  gap: 20px;
}

.index-offer__item {
  min-height: 123px;
}

.index-offer__item:not(:nth-child(4)) {
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  display: flex;
  padding: 20px;
}

.index-offer__item:nth-child(1) {
  grid-area: materials;

  background-color: var(--special-yellow);
}

.index-offer__item:nth-child(2) {
  grid-area: tools;

  background-color: var(--special-blue);
}

.index-offer__item:nth-child(3) {
  grid-area: technique;

  background-color: var(--special-lilac);
}

.index-offer__item:nth-child(4) {
  grid-area: slider;
}

.index-offer__item:nth-child(5) {
  grid-area: sale;

  background-color: var(--special-greenlight);
}

.index-offer__item:nth-child(6) {
  grid-area: delivery;

  background-color: var(--special-yellow);
}

.index-offer .index-offer__title {
  margin: 0;
}

.index-offer__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: var(--white);
}

.index-offer__link {
  max-width: 135px;
  min-height: 38px;
  width: 100%;
  padding: 11px 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: var(--white);
  background-color: var(--transparent-bg);
}

.index-offer__link:hover,
.index-offer__link:focus {
  background-color: var(--transparent-graylight);
}

.index-offer__link:active {
  background-color: var(--transparent-gray);
}

.slider__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 620px;
  min-height: 266px;
  padding-top: 23px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 27px;
}

.slider__slide:first-child {
  background: var(--situational-gray) url('../img/main-slide-1.jpg') no-repeat;
}

.slider__slide:nth-child(2) {
  background: var(--situational-gray) url('../img/main-slide-2.jpg') no-repeat;
}

.slider__content-top .slider__title {
  margin-top: 0;
  margin-bottom: 5px;
}

.slider__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;

  color: var(--white);
}

.slider__content-top .slider__text {
  margin: 0;
}

.slider__text {
  color: var(--white);
}

.slider__slide .slider__link {
  margin-right: auto;
}

.slider__link {
  min-height: 38px;
  min-width: 192px;
  padding: 10px;

  text-align: center;
}

/* Main index__product */

.index__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 15px 25px 25px;

  background-color: var(--basic-yellowlight);
}

.index .index__row {
  margin-bottom: 20px;
}

.index__row .title {
  margin: 0;
}

.index__row .button {
  padding: 10px;
  min-width: 192px;

  text-align: center;
}

.index-product__list {
  justify-content: space-between;
  flex-wrap: wrap;

  display: flex;
}

/* Main index__manufacturer */

.index-manufacturer__list {
  display: grid;
  gap: 20px;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: min-content min-content;
}

.index-manufacturer__link {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 220px;
  min-height: 145px;

  border: 1px solid var(--special-light);
}

.index-manufacturer__link:hover,
.index-manufacturer__link:focus {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.index-manufacturer__link:active {
  opacity: 0.5;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.index-manufacturer__img {
  text-align: center;
}

/* Main index__service */

.index-service {
  padding: 60px 0;

  background-color: var(--basic-bg);
}

.index-service .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-service__row:first-child {
  margin-bottom: 20px;
}

.index-service__row:first-child .index-service__title {
  margin-bottom: 25px;
}

.index-service__row:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.index-service__row:first-child .index-service__title {
  color: var(--black);
}

.index-service__tabs {
  max-width: 240px;
}

.index-service__list {
  min-width: 619px;
}

.index-service .index-service__title {
  margin: 0;
}

.index-service .index-service__text {
  margin: 0;
}

.index-service__item .index-service__title {
  margin-bottom: 30px;
}

.index-service__item .index-service__text {
  max-width: 313px;
}

.index-service__text {
  max-width: 400px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.index-service__label {
  display: block;
  min-width: 240px;
  min-height: 61px;
  padding: 15px 20px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  color: var(--white);
  background-color: var(--basic-blue);
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.index-service__tab .index-service__label {
  margin-bottom: 1px;
}

.index-service__label:hover:not(.index-service__label--active),
.index-service__label:focus:not(.index-service__label--active) {
  background-color: var(--deep-blue);
}

.index-service__label--active {
  color: var(--basic-blue);
  background-color: var(--white);
  box-shadow: 0 1px 0 var(--white), inset 0 1px 0 var(--white);
}

.index-service__link {
  background-color: var(--special-red);
  border-radius: 1px;
}

/* Main index__about */

.index .index__about {
  margin-bottom: 70px;
}

.index-about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: var(--white);
}

.index-about__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 450px;
}

.index-about__column:last-child {
  max-width: 300px;
}

.index-about .index-about__title {
  margin-bottom: 18px;
  margin-top: 0;
}

.index-about__title {
  color: var(--black);
}

.index-about__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.index-about .index-about__text {
  margin: 0;
}

.index-about__column .index-about__text:nth-child(2) {
  margin-bottom: 25px;
}

.index-about__text:nth-child(3) {
  max-width: 445px;
}

.index-about__column:last-child .index-about__text {
  max-width: 180px;
}

.index-about .index-about__list {
  margin-bottom: 20px;
}

.index-about__list .index-about__item {
  margin-left: 37px;
}

.index-about__item {
  font-weight: 500;
}

.index-about__column:nth-child(2) .index-about__link {
  margin-right: auto;
  padding: 11px 40px 9px 40px;
}

.index-about__column:last-child .index-about__link {
  padding: 11px 61px 9px 61px;
}

.index-about .index-about__map-link {
  margin-bottom: 25px;
}

/* Catalog mixes */

.catalog .catalog-heading {
  margin: 0;
}

.catalog-heading {
  padding-left: 8px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--basic-yellowlight);
  border-radius: 3px;
}

/* Catalog */

.catalog {
  font-family: "PT Sans", "Arial", sans-serif;
}

.catalog .wrapper {
  display: grid;
  gap: 20px;
  align-items: center;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows:  min-content min-content min-content 1fr min-content;
  grid-template-areas:
    "breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
    "title title title title"
    "filter sort sort sort"
    "filter catalog catalog catalog"
    "filter pagination pagination pagination";

  padding-top: 20px;
  padding-bottom: 60px;
}

/* Catalog breadcrumbs */

.catalog-breadcrumbs {
  grid-area: breadcrumbs;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 355px;
}

.catalog-breadcrumbs__item {
  font-size: 13px;
  line-height: 18px;
}

.catalog-breadcrumbs__link {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--black);
}

.catalog .catalog__title {
  margin: 0;
}

.catalog__title {
  grid-area: title;

  padding: 30px 0 30px 30px;

  background-color: var(--basic-bg);
}

.catalog__heading {
  padding: 10px 0 10px 18px;
}

/* Catalog filter mixes */

.filter-fieldset {
  padding: 20px 0;

  border: none;
}

.catalog-filter .filter-fieldset {
  margin: 0;

  border-bottom: 1px solid var(--transparent-gray);
}

.catalog-filter fieldset:last-of-type {
  margin-bottom: 10px;

  border-bottom: none;
}

/* Catalog filter */

.catalog-filter {
  grid-area: filter;
  align-self: flex-start;

  max-width: 220px;
}

.catalog-filter__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-filter__form .catalog-filter__title {
  margin: -5px 0;
}

.catalog-filter__title {
  padding-top: 15px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter__label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-filter__list {
  padding-left: 37px;
}

.catalog-filter__submit {
  max-width: 220px;
  min-height: 38px;
  padding: 10px 0;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--white);
  border: 1px solid var(--special-graylight);

  cursor: pointer;
}

/* Catalog filter price */

.catalog-filter__price .catalog-filter__toggle {
  margin-bottom: 10px;
}

.catalog-filter__toggle {
  width: 100%;
  min-height: 80px;

  border-radius: 3px;
  background-color: var(--basic-yellowlight);
}

.catalog-filter__num-box {
  display: flex;
  justify-content: space-between;
}

.catalog-filter__number {
  max-width: 95px;
  min-height: 38px;
  padding: 10px 0 10px 16px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border-radius: 3px;
  background-color: var(--basic-yellowlight);
}

/* Catalog sort */

.catalog-sort {
  grid-area: sort;

  display: flex;
  justify-content: space-between;
  padding: 10px;

  border-radius: 3px;
  background-color: var(--basic-yellowlight);
}

.catalog-sort__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 450px;
}

.catalog-sort__link {
  display: block;

  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--special-transparent);
  border-bottom: 1px dotted var(--basic-red);
}

.catalog-sort__link:hover,
.catalog-sort__link:focus {
  color: var(--black);
  border-bottom-style: solid;
}

.catalog-sort__link:active,
.catalog-sort__link--active,
.catalog-sort__link--active:hover,
.catalog-sort__link--active:focus {
  color: var(--basic-red);
  border: none;
}

/* Catalog grid */

.catalog .catalog__grid {
  margin-bottom: 25px;
}

.catalog-grid {
  grid-area: catalog;
}

.catalog-grid__list {
  display: grid;
  gap: 20px;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: min-content min-content min-content;
}

/* Card mixes */

.card-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  max-width: 220px;
  min-height: 318px;
  padding: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  background: var(--white);
  border: 1px solid var(--special-light);
}

.card__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card__row:first-child {
  max-height: 139px;
}

.card__row:last-child {
  min-height: 119px;
}

.card:hover,
.card:focus {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card:hover .card__img,
.card:focus .card__img {
  display: none;
}

.card__img {
  max-width: 154px;
  max-height: 139px;
  margin: 0;
  object-fit: contain;
}

.card__purchase {
  min-width: 135px;
  min-height: auto;
  padding: 20px 0;

  display: none;
}

.card:hover .card__purchase,
.card:focus .card__purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__purchase .card__buy {
  margin-bottom: 10px;
}

.card__buy {
  padding: 10px 43px 10px 60px;

  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--special-green);
  border-radius: 2px;
}

.card__buy:hover,
.card__buy:focus {
  background-color: var(--success);
}

.card__buy:active {
  background-color: var(--dark-green);
}

.card__to-bookmarks {
  padding: 7px 34px;

  color: var(--basic-blue);
  background-color: transparent;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.card__to-bookmarks:hover,
.card__to-bookmarks:focus {
  border-color: var(--basic-blue);
  background-color: transparent;
}

.card__to-bookmarks:active {
  opacity: 0.5;
  background-color: transparent;
}

.card .card__title {
  margin: 0;
}

.card__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.card__full-price {
  color: var(--del);
}

.card__final-price {
  padding: 9px 42px 11px 32px;

  color: var(--white);
  background-color: var(--basic-red);
  border-radius: 3px;
}

/* Catalog pagination */

.catalog-pagination {
  grid-area: pagination;

  display: flex;
  flex-wrap: wrap;

  min-height: 38px;
}

.catalog-pagination .catalog-pagination__item:not(:last-child) {
  margin-right: 10px;
}

.catalog-pagination__link {
  display: block;
  padding: 10px 15px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--black);
  border: 1px solid var(--special-graylight);
  border-radius: 2px;
}

.catalog-pagination__link:hover,
.catalog-pagination__link:focus {
  border-color: var(--basic-graylight);
}

.catalog-pagination__link:active {
  border-color: var(--basic-red);
}

.catalog-pagination__link--current {
  padding: 11px 16px;

  color: var(--white);
  background-color: var(--basic-red);
  border: none;
}

/* Catalog about */

.catalog-about {
  background-color: var(--basic-bg);
}

.catalog-about .wrapper {
  display: block;
  padding-top: 64px;
  padding-bottom: 68px;
}

.catalog-about .catalog-about__title {
  margin: 0 0 25px 0;
}

.catalog-about__title {
  color: var(--black);
}

.catalog-about .catalog-about__text {
  margin: 0;
}

.catalog-about__text {
  font-size: 13px;
}

/* Footer mixes */

.footer-link {
  text-decoration: none;

  color: var(--white);
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.footer-link:active {
  text-decoration: none;

  opacity: 0.5;
}

/* Footer top */

.footer {
  display: flex;
  flex-direction: column;
}

.footer__top {
  background-color: var(--basic-blue);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__top .footer__row:nth-child(2) {
  margin-bottom: 22px;
}

.footer__top .footer__row:last-child {
  margin-bottom: 55px;
}

.footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  padding: 20px 41px 25px 41px;

  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--logo-shadow);
}

.footer-logo:active {
  background-color: var(--error);
}

.footer-logo__img {
  width: 138px;
}

.footer__row .footer-nav {
  margin-top: 35px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-nav__item:not(:last-child) {
  margin-right: 58px;
}

.footer__row .footer__contacts {
  margin: 0;
}

.footer__contacts {
  color: var(--white);
}

.footer__row .footer__category {
  margin-top: 10px;
}

.footer__category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-category__item:not(:last-child) {
  margin-right: 58px;
}

.footer-category__link {
  color: var(--special-yellowlight);
}

/* Footer bottom */

.footer__bottom {
  background-color: var(--deep-blue);
}

.footer__bottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 36px;
  padding-bottom: 34px;
}

.footer__bottom .footer__text {
  margin: 0;
}

.footer__text {
  max-width: 235px;

  font-size: 16px;
  line-height: 18px;

  color: var(--white);
}

.footer__text-container  {
  display: flex;
  justify-content: space-between;

  max-width: 286px;
}

.footer__text-container .footer__text:not(:last-child) {
  margin-right: 50px;
}

.footer-text__link {
  color: var(--special-yellowlight);
}

.footer-text__link:active {
  color: var(--basic-red);
  opacity: 1;
}

.footer-socials {
  display: flex;
}

.footer-socials .footer-socials__item:not(:last-child) {
  margin-right: 3px;
}

.footer-socials__link {
  display: block;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: #212A3A;
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--basic-red);
}
